@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

nav .brand-logo {
  font-size: 1.5rem;
}

.card.medium .card-image {
  height: auto;
  max-height: 250px;
}

.loading, .error {
  text-align: center;
  margin-top: 3em;

  .loading-true {
    display: none;
  }
}

.modal {
  background: none;

  .card {
    margin: 0;
  }

  img {
    max-height: 50vh;
  }
}

.card-content {
  position: relative;
}

.map-canvas {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  .ember-view{
    width: 100%;
    height: 100%;
    opacity: .45;
  }
}

// Show full width modal on small devices
@media only screen and (max-width: 600px) {
  .modal {
    width: 100%;
  }
}