@import 'materialize';
@import 'card-img';
@import 'header';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

.loading, .error {
  text-align: center;
  margin-top: 3em;

  .loading-true {
    display: none;
  }
}

.modal {
  background: none;

  .card {
    margin: 0;
  }

  img {
    max-height: 50vh;
  }
}

// Show full width modal on small devices
@media only screen and (max-width: 600px) {
  .modal {
    width: 100%;
  }
}