<img src={{src}} class="loading-{{loading}}">

<div class="image-container col s12">
  {{#if loading}}
    {{md-loader mode="circular" color="green"}}
  {{/if}}

  {{#if error}}
    <i class="mdi-alert-error large"></i>
    <p>Camera Offline</p>
  {{/if}}
</div>