<img src={{src}} class="loading-{{loading}}">

{{#if loading}}
  <div class="loading col s12">
    {{md-loader mode="circular" color="green"}}
  </div>
{{/if}}

{{#if error}}
  <div class="error col s12">
    <i class="mdi-maps-traffic large"></i>
    <p>Camera Offline</p>
  </div>
{{/if}}
