{{#md-modal close="close"}}
  <div class="card">
    <div class="card-image">
      {{load-img src=model.imageSource}}
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">
        {{model.name}}
      </span>
      <p>{{model.location}}</p>
      {{#if model.hasCoordinates}}
        <div class="map-canvas">
          {{google-map mapThumbnail=false lat=model.latitude lng=model.longitude}}
        </div>
      {{/if}}
    </div>
  </div>
{{/md-modal}}