<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Traffic Cam PR</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="https://github.com/carloscheddar/trafficCamPR">
            Contribute
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
