<div class="navbar-fixed search">
  <nav>
    <div class="nav-wrapper">
      <div class="input-field">
        {{input type="search"
          value=name
          autofocus="autofocus"}}
        <label for="search"><i class="mdi-action-search"></i></label>
        <i class="mdi-navigation-close"></i>
      </div>
    </div>
  </nav>
</div>